
@font-face {font-family: "socialshare";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.social-share {
  font-family:"socialshare" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
   * {
    font-family:"socialshare" !important;
  }
  .icon-qq:before { content: "\e606"; }
  .icon-weibo:before { content: "\e619"; }
  .icon-wechat:before { content: "\e600"; }
  .icon-timeline:before { content: "\e621"; }
  .icon-qzone:before { content: "\e70c"; }
  a {
    position:relative;
    text-decoration:none;
    margin: 4px;
    display:inline-block;
    outline: none;
  }

  .social-share-icon {
    position:relative;
    display:inline-block;
    width: 28px;
    height: 28px;
    font-size: 20px;
    border-radius: 50%;
    line-height: 24px;
    border:1px solid #666;
    color: #666;
    text-align: center;
    vertical-align: middle;
    transition: background 0.6s ease-out 0s;

    &:hover{
      background: #666;
      color: #fff;
    }
  }

  .icon-weibo{
    color:#ff763b;border-color:#ff763b;
    &:hover{
      background:#ff763b;
    }
  }
  .icon-qq{
    color:#56b6e7;border-color:#56b6e7;
    &:hover{
      background:#56b6e7;
    }
  }
  .icon-qzone{
    color:#FDBE3D;border-color:#FDBE3D;
    &:hover{
      background:#FDBE3D;
    }
  }
  .icon-wechat{
    position:relative;color:#7bc549;border-color:#7bc549;
    &:hover{
      background:#7bc549;
    }
  }
  .icon-timeline{
    position:relative;color:#7bc549;border-color:#7bc549;line-height:27px;font-size:19px;
    &:hover{
      background:#7bc549;
    }
  }
  .wechat-qrcode{display: none;border: 1px solid #eee;position:fixed;z-index:1000;top:50%;left:50%;margin-left:-125px;margin-top:-120px;width:250px;height:240px;color:#666;font-size:12px;text-align:center;background-color:#fff;box-shadow:0 2px 10px #aaa;transition:all 200ms;-webkit-tansition:all 350ms;-moz-transition:all 350ms; }
  .wechat-qrcode.bottom {
    top:40px;
    left:-84px;
    &:after {
      display:none;
    }
  }
  .wechat-qrcode h4{font-weight:normal;height:26px;line-height:26px;font-size:12px; background-color:#f3f3f3; margin:0;padding:0;color: #777; }
  .wechat-qrcode .wechat-qrcode-close{position: absolute;margin: 0; top: 0;right: 0;width: 24px;height: 24px;line-height:24px;font-size: 24px;cursor: pointer;}
  .wechat-qrcode .qrcode{width:150px; margin:10px auto;}
  .wechat-qrcode .qrcode table{margin:0!important;}
  .wechat-qrcode .help p{font-weight:normal;line-height:16px;padding:0;margin:0;}
  /*.icon-timeline .wechat-qrcode:after, .icon-wechat .wechat-qrcode:after{content:'';position:absolute;left:50%;margin-left:-6px;bottom:-13px;width:0;height:0;border-width:8px 6px 6px 6px;border-style:solid;border-color:#fff transparent transparent transparent}*/
  /*.icon-timeline:hover .wechat-qrcode, .icon-wechat:hover .wechat-qrcode{display: block;}*/
}
